
/*video ad sponser*/
ytd-player-legacy-desktop-watch-ads-renderer,
#player-ads,
/*home panels*/
ytd-rich-item-renderer.ytd-rich-grid-renderer:has(> .ytd-rich-item-renderer > ytd-ad-slot-renderer),
ytd-rich-item-renderer.ytd-rich-grid-renderer:has(> .ytd-rich-item-renderer > ytd-feed-nudge-renderer),
ytd-single-option-survey-renderer
/*home top banner*/
#masthead-ad,
/* other ads */
#mealbar-promo-renderer,
yt-mealbar-promo-renderer,
ytd-ad-slot-renderer,
/* paid content overlay */
.YtmPaindContentOverlayLink, 
ytm-paid-content-overlay-renderer,
.ytp-paid-content-overlay-link,
/* brand watermark */
.annotation-type-custom.iv-branding,
/* shorts button */
ytd-guide-entry-renderer:has(> [title="Shorts"]),
ytd-mini-guide-entry-renderer[aria-label="Shorts"],
/* shorts list */
ytd-reel-shelf-renderer,
/* short as video */
ytd-video-renderer:has([overlay-style="SHORTS"]),
/* download button */
ytd-download-button-renderer,
/* unavailable donations */
#donation-shelf:has(>ytd-donation-unavailable-renderer)
{
    display: none !important;
    /* outline: 2px solid green; */
}

/* fullscreen skip ad button */
.ytp-skip-ad-button
{
    height: calc(100% - 50px) !important;
    right: 0 !important;
    bottom: 50px !important;
    width: calc(100% - 50px) !important;
    border-radius: 0 !important;
    padding-right: 50px !important;

    display: flex;
    place-content: end;

    scale: 1 !important;
    transform: translateX(0) !important;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    background: #0005 !important;
    opacity: 1 !important;
    transition: background 0.2s !important;

    &:hover {
        background: #000b !important;
        opacity: 1 !important;
    }
}

ytd-rich-grid-renderer #contents {
    & > ytd-rich-section-renderer {
        display: none !important;
    }
    & > ytd-rich-item-renderer[rendered-from-rich-grid][is-in-first-column] {
        margin-left: calc(var(--ytd-rich-grid-item-margin)/2) !important;
    }
}

/* fix broken style from prior changes */
#info-section.ytd-channel-renderer {
    flex-direction: column !important;
}